.contentbox {
  display: flex;
  margin-bottom: 10px;
  margin-top: 20px;
  &__image {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    border-radius: 50%;
  }
  &__name {
    text-align: left;
    margin-right: 1rem;
  }
  &__time {
    text-align: right;
    color: #8f8f8f;
  }
}
@media only screen and (max-width: 600px) {
  .contentbox {
    margin: 1.8em;

    &__name {
      margin-top: 1.2rem;
    }
  }
}
