.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  text-align: center;
}
ul {
  width: 100%;
}
i {
  color: #474747;
  margin-bottom: 5px;
}
.navBox {
  margin-bottom: 2rem;
  color: #474747;
  &__link {
    text-decoration: none;
    color: #474747;
  }
  &--active {
    border-left: 3px solid #1ece5c;
    color: #8f8f8f;
    i {
      color: #8f8f8f;
    }
    p {
      color: #8f8f8f;
    }
  }
}
@media only screen and (max-width: 600px) {
  .navbar {
    top: auto;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 70px;
    flex-direction: row;
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .navBox {
    margin: 0;
    flex-grow: 1;
    flex-basis: 100%;
    &--active {
      border-left: none;
      padding: 0.5rem;
      border-top: 3px solid #1ece5c;
      background-color: #181818;
    }
  }
}
