.dashboard {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  &__content {
    display: flex;
  }
  &__content-topTracks {
  }
}
