.artists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: white;
  min-height: 100vh;
  &__header {
    margin-top: 2rem;
    font-size: 24px;
  }
  &__display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 6rem;
    max-width: 1400px;
    min-height: 100vh;
  }
}
@media only screen and (max-width: 600px) {
  .artists {
    text-align: center;
    display: block;
    width: 100vw;
    &__display {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
  }
}
