@use 'reset';
@use 'dashboard';
@use 'artists';
@use 'toptracks';
@use '../componenets/Login/login';
@use '../componenets/ContentBox/contentbox';
@use '../componenets/SideBar/sidebar';
@use '../componenets/ArtistBox/artistbox';
html,
body {
  background-color: #181818;
}
@media only screen and (max-width: 600px) {
  html,
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
}
